@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 39.1304 85.1852% 94.7059%;
    --foreground: 0 0% 14.902%;
    --card: 40 100% 97.0588%;
    --card-foreground: 0 0% 14.902%;
    --popover: 40 100% 97.0588%;
    --popover-foreground: 0 0% 14.902%;
    --primary: 202.1538 38.4615% 33.1373%;
    --primary-foreground: 0 0% 100%;
    --secondary: 45.1724 71.3115% 47.8431%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210.6977 53.0864% 84.1176%;
    --muted-foreground: 220 8.9362% 46.0784%;
    --accent: 202.7027 39.7849% 18.2353%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2365% 60.1961%;
    --destructive-foreground: 0 0% 100%;
    --border: 36.6667 23.6842% 85.098%;
    --input: 33.9474 48.1013% 69.0196%;
    --ring: 37.6923 92.126% 50.1961%;
    --chart-1: 37.6923 92.126% 50.1961%;
    --chart-2: 32.1327 94.6188% 43.7255%;
    --chart-3: 25.9649 90.4762% 37.0588%;
    --chart-4: 22.7273 82.5% 31.3725%;
    --chart-5: 21.7143 77.7778% 26.4706%;
    --sidebar: 38.7097 100% 93.9216%;
    --sidebar-foreground: 0 0% 0%;
    --sidebar-primary: 37.6923 92.126% 50.1961%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 48 100% 96.0784%;
    --sidebar-accent-foreground: 22.7273 82.5% 31.3725%;
    --sidebar-border: 220 13.0435% 90.9804%;
    --sidebar-ring: 37.6923 92.126% 50.1961%;
    --font-sans: Inter, sans-serif;
    --font-serif: Source Serif 4, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.375rem;
    --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
    --shadow-sm:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
    --shadow:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
    --shadow-md:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 2px 4px -2px hsl(0 0% 0% / 0.1);
    --shadow-lg:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 4px 6px -2px hsl(0 0% 0% / 0.1);
    --shadow-xl:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 8px 10px -2px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 0 0% 9.0196%;
    --foreground: 0 0% 89.8039%;
    --card: 0 0% 14.902%;
    --card-foreground: 0 0% 89.8039%;
    --popover: 0 0% 14.902%;
    --popover-foreground: 0 0% 89.8039%;
    --primary: 37.6923 92.126% 50.1961%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 14.902%;
    --secondary-foreground: 0 0% 89.8039%;
    --muted: 0 0% 14.902%;
    --muted-foreground: 0 0% 63.9216%;
    --accent: 22.7273 82.5% 31.3725%;
    --accent-foreground: 48 96.6387% 76.6667%;
    --destructive: 0 84.2365% 60.1961%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 25.098%;
    --input: 0 0% 25.098%;
    --ring: 37.6923 92.126% 50.1961%;
    --chart-1: 43.2558 96.4126% 56.2745%;
    --chart-2: 32.1327 94.6188% 43.7255%;
    --chart-3: 22.7273 82.5% 31.3725%;
    --chart-4: 25.9649 90.4762% 37.0588%;
    --chart-5: 22.7273 82.5% 31.3725%;
    --sidebar: 0 0% 5.8824%;
    --sidebar-foreground: 0 0% 89.8039%;
    --sidebar-primary: 37.6923 92.126% 50.1961%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 22.7273 82.5% 31.3725%;
    --sidebar-accent-foreground: 48 96.6387% 76.6667%;
    --sidebar-border: 0 0% 25.098%;
    --sidebar-ring: 37.6923 92.126% 50.1961%;
    --font-sans: Inter, sans-serif;
    --font-serif: Source Serif 4, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.375rem;
    --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
    --shadow-sm:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
    --shadow:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
    --shadow-md:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 2px 4px -2px hsl(0 0% 0% / 0.1);
    --shadow-lg:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 4px 6px -2px hsl(0 0% 0% / 0.1);
    --shadow-xl:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 8px 10px -2px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
  }

  body {
    letter-spacing: var(--tracking-normal);
  }
}
/* 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 72.2% 50.6%;
    --radius: 0.65rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 72.2% 50.6%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
} */
